$color-principal: rgba(255, 0, 0, 0.562);
$color-secundario: blue;
$color-complementario: green;
$color-terciario: purple;
$unidad-medida: 40px;

div {
    background-color: $color-principal;
}

button {
    text-shadow: 1px 1px $color-secundario;
}

* {
    font-size: $unidad-medida;
}
